* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Andika", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "head" "main" "footer";
}
body header {
  grid-area: head;
}
body main {
  grid-area: main;
}
body footer {
  grid-area: footer;
}

header {
  background-color: #254692;
  color: white;
  text-shadow: 0 0 15px black;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-around;
  align-content: center;
}
header h1 {
  display: inline-block;
  position: relative;
  right: 30px;
  align-self: center;
  justify-self: center;
  font-size: 1.5rem;
}
header a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px black;
}
header .navegador {
  display: inline-block;
  position: relative;
  left: 30px;
  bottom: 10px;
}
header .navegador ul {
  position: relative;
  top: 5vh;
  justify-items: center;
  align-items: center;
  font-size: 1rem;
}

main {
  background-image: url(../img/fondo-pagina);
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(71, 61, 139, 0.651);
}
footer a {
  text-decoration: none;
  color: black;
}

main.index {
  padding: 15px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: 60% 40%;
  gap: 2vw 2vw;
  grid-template-areas: "banner evento" "trailer trailer";
}
main .banner {
  grid-area: banner;
}
main .banner img {
  width: 100%;
  height: 100%;
}
main .eventos {
  grid-area: evento;
}
main .eventos img {
  width: 100%;
  height: 100%;
}
main .trailer {
  grid-area: trailer;
}
main .trailer iframe {
  width: 100%;
  height: 90%;
}

/* Estrucura de la pagina */
.grids, .main-artefactos .inazuma, .main-artefactos .liyue, .main-artefactos .mondstand {
  padding: 5px;
  gap: 5px;
  justify-items: center;
  align-items: center;
}
.grids h2, .main-artefactos .inazuma h2, .main-artefactos .liyue h2, .main-artefactos .mondstand h2 {
  grid-area: titulo;
  text-shadow: 0 0 5px white;
}

.main-artefactos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  grid-template-areas: "mondstand" "liyue" "inazuma";
  /*seccion*/
  /*seccion*/
  /*seccion*/
}
.main-artefactos section {
  background-color: rgba(0, 0, 0, 0.384);
  background-size: 100%;
}
.main-artefactos .mondstand {
  grid-area: mondstand;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: "titulo titulo titulo titulo" "pos_1 pos_2 pos_3 pos_4" "pos_5 pos_6 pos_7 pos_8";
}
.main-artefactos .liyue {
  grid-area: liyue;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: "titulo titulo titulo titulo" "pos_1 pos_2 pos_3 pos_4" "pos_5 pos_6 pos_7 pos_8";
}
.main-artefactos .inazuma {
  grid-area: inazuma;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas: "titulo titulo titulo " "pos_1 pos_2 pos_3 " "pos_4 pos_5 pos_6";
}

.main-artefactos .mondstand .mpos_1 img {
  grid-area: pos_1;
}
.main-artefactos .mondstand .mpos_2 img {
  grid-area: pos_2;
}
.main-artefactos .mondstand .mpos_3 img {
  grid-area: pos_3;
}
.main-artefactos .mondstand .mpos_4 img {
  grid-area: pos_4;
}
.main-artefactos .mondstand .mpos_5 img {
  grid-area: pos_5;
}
.main-artefactos .mondstand .mpos_6 img {
  grid-area: pos_6;
}
.main-artefactos .mondstand .mpos_7 img {
  grid-area: pos_7;
}
.main-artefactos .mondstand .mpos_8 img {
  grid-area: pos_8;
}
.main-artefactos .liyue .lpos_1 img {
  grid-area: pos_1;
}
.main-artefactos .liyue .lpos_2 img {
  grid-area: pos_2;
}
.main-artefactos .liyue .lpos_3 img {
  grid-area: pos_3;
}
.main-artefactos .liyue .lpos_4 img {
  grid-area: pos_4;
}
.main-artefactos .liyue .lpos_5 img {
  grid-area: pos_5;
}
.main-artefactos .liyue .lpos_6 img {
  grid-area: pos_6;
}
.main-artefactos .liyue .lpos_7 img {
  grid-area: pos_7;
}
.main-artefactos .liyue .lpos_8 img {
  grid-area: pos_8;
}
.main-artefactos .inazuma .ipos_1 img {
  grid-area: pos_1;
}
.main-artefactos .inazuma .ipos_2 img {
  grid-area: pos_2;
}
.main-artefactos .inazuma .ipos_3 img {
  grid-area: pos_3;
}
.main-artefactos .inazuma .ipos_4 img {
  grid-area: pos_4;
}
.main-artefactos .inazuma .ipos_5 img {
  grid-area: pos_5;
}
.main-artefactos .inazuma .ipos_6 img {
  grid-area: pos_6;
}
.main-artefactos .inazuma .ipos_7 img {
  grid-area: pos_7;
}
.main-artefactos .inazuma .ipos_8 img {
  grid-area: pos_8;
}

/*  Media queries del Layout    */
@media (min-width: 480px) {
  body header {
    display: flex;
    flex-direction: column;
  }
  body header h1 {
    font-size: 2rem;
    text-align: center;
  }
  body header .navegador ul {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
  }
  body header .navegador ul li {
    text-align: center;
    position: relative;
    bottom: 35px;
    padding-inline: 19%;
  }
  body footer .informacion h3 {
    position: relative;
    left: 40px;
  }
  body footer .informacion ul {
    position: relative;
    right: 40px;
    top: 25px;
  }
  body footer .informacion h3 {
    position: relative;
    left: 40px;
  }
  body footer .redes h3 {
    position: relative;
    left: 40px;
  }
  body footer .redes ul {
    position: relative;
    top: 30px;
  }
}
@media (min-width: 480px) {
  body main.index {
    padding: 15px;
    display: grid;
    gap: 0px 5px;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "banner banner . . . . evento evento" "banner banner . . . . evento evento" "banner banner trailer trailer trailer trailer evento evento" "banner banner trailer trailer trailer trailer evento evento" "banner banner trailer trailer trailer trailer evento evento";
  }
  body main.index .banner {
    grid-area: banner;
  }
  body main.index .banner img {
    width: 100%;
    height: 100%;
  }
  body main.index .eventos {
    grid-area: evento;
  }
  body main.index .eventos img {
    width: 100%;
    height: 100%;
  }
  body main.index .trailer {
    grid-area: trailer;
  }
  body main.index .trailer iframe {
    width: 100%;
    height: 90%;
  }
}

@media (min-width: 600px) {
  .main-artefactos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "mondstand liyue inazuma";
  }
  .main-artefactos section {
    margin-inline: 10px;
  }
  .main-artefactos .mondstand {
    grid-area: mondstand;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(4, 2fr);
    grid-template-areas: "titulo titulo" "gladiador corazon" "orquesta nomada" "sombra furia" "doncella domador";
  }
  .main-artefactos .liyue {
    grid-area: liyue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(4, 2fr);
    grid-template-areas: "titulo titulo" "bruja corredor" "llamas tenacidad" "arcaica meteorito" "caballeria nobleza";
  }
  .main-artefactos .inazuma {
    grid-area: inazuma;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(3, 2fr);
    grid-template-areas: "titulo titulo" "emblema reminiscencia" "cascara perla" "deceso eco";
  }
}

/*# sourceMappingURL=style.css.map */
