* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Andika", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 150px 1fr 414px;
  grid-template-areas: "header" "main" "footer";
}
body header {
  grid-area: header;
}
body main {
  grid-area: main;
}
body footer {
  grid-area: footer;
}

header {
  background-color: #254692;
  color: white;
  text-shadow: 0 0 15px black;
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-around;
  align-content: center;
}
header h1 {
  display: inline-block;
  position: relative;
  right: 30px;
  align-self: center;
  justify-self: center;
  font-size: 1.5rem;
}
header a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px black;
}
header .navegador {
  display: inline-block;
  position: relative;
  left: 30px;
  bottom: 10px;
}
header .navegador ul {
  position: relative;
  top: 5vh;
  justify-items: center;
  align-items: center;
  font-size: 1rem;
}

main {
  background-image: url(../img/fondo-pagina);
  background-size: cover;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(71, 61, 139, 0.651);
}
footer a {
  text-decoration: none;
  color: black;
}

main.index {
  padding: 15px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 49%);
  grid-template-rows: 60% 40%;
  gap: 2vw 2vw;
  grid-template-areas: "banner evento" "trailer trailer";
}
main .banner {
  grid-area: banner;
}
main .banner img {
  width: 100%;
  height: 100%;
}
main .eventos {
  grid-area: evento;
}
main .eventos img {
  width: 100%;
  height: 100%;
}
main .trailer {
  grid-area: trailer;
}
main .trailer iframe {
  width: 100%;
  height: 90%;
}

/* Estrucura de la pagina */
.main-artefactos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  grid-template-areas: "mondstand" "liyue" "inazuma";
  /*seccion*/
  /*seccion*/
  /*seccion*/
}
.main-artefactos section {
  background-color: rgba(0, 0, 0, 0.384);
  background-size: 100%;
}
.main-artefactos .mondstand {
  grid-area: mondstand;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  gap: 5px;
  grid-template-areas: "titulo titulo titulo titulo" "gladiador orquesta sombra doncella" "corazon nomada furia domador";
  justify-items: center;
  align-items: center;
}
.main-artefactos .mondstand h2 {
  grid-area: titulo;
  text-shadow: 0 0 5px white;
}
.main-artefactos .mondstand .gladiador img {
  grid-area: gladiador;
}
.main-artefactos .mondstand .orquesta img {
  grid-area: orquesta;
}
.main-artefactos .mondstand .sombra img {
  grid-area: sombra;
}
.main-artefactos .mondstand .doncella img {
  grid-area: doncella;
}
.main-artefactos .mondstand .corazon img {
  grid-area: corazon;
}
.main-artefactos .mondstand .nomada img {
  grid-area: nomada;
}
.main-artefactos .mondstand .furia img {
  grid-area: furia;
}
.main-artefactos .mondstand .domador img {
  grid-area: domador;
}
.main-artefactos .liyue {
  grid-area: liyue;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  gap: 5px;
  grid-template-areas: "titulo titulo titulo titulo" "bruja tenacidad petra nobleza" "corredor llamas arcaica caballeria";
  justify-items: center;
  align-items: center;
}
.main-artefactos .liyue h2 {
  grid-area: titulo;
  text-shadow: 0 0 5px white;
}
.main-artefactos .liyue .bruja {
  grid-area: bruja;
}
.main-artefactos .liyue .corredor {
  grid-area: corredor;
}
.main-artefactos .liyue .tenacidad {
  grid-area: tenacidad;
}
.main-artefactos .liyue .llamas {
  grid-area: llamas;
}
.main-artefactos .liyue .petra {
  grid-area: petra;
}
.main-artefactos .liyue .arcaica {
  grid-area: arcaica;
}
.main-artefactos .liyue .nobleza {
  grid-area: nobleza;
}
.main-artefactos .liyue .caballeria {
  grid-area: caballeria;
}
.main-artefactos .inazuma {
  grid-area: inazuma;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr 2fr;
  gap: 5px;
  grid-template-areas: "titulo titulo titulo " "emblema perla eco " "reminiscencia cascara deceso ";
  justify-items: center;
  align-items: center;
}
.main-artefactos .inazuma h2 {
  grid-area: titulo;
  text-shadow: 0 0 5px white;
}
.main-artefactos .inazuma .emblema {
  grid-area: emblema;
}
.main-artefactos .inazuma .reminiscensia {
  grid-area: reminiscencia;
}
.main-artefactos .inazuma .perla {
  grid-area: perla;
}
.main-artefactos .inazuma .cascara {
  grid-area: cascara;
}
.main-artefactos .inazuma .eco {
  grid-area: eco;
}
.main-artefactos .inazuma .deceso {
  grid-area: deceso;
}

/*  Media queries del Layout    */
@media (min-width: 480px) {
  body header {
    display: flex;
    flex-direction: column;
  }
  body header h1 {
    font-size: 2rem;
    text-align: center;
  }
  body header .navegador ul {
    padding-left: 50px;
    display: flex;
    flex-direction: row;
  }
  body header .navegador ul li {
    text-align: center;
    position: relative;
    bottom: 35px;
    padding-inline: 19%;
  }
  body footer .informacion h3 {
    position: relative;
    left: 40px;
  }
  body footer .informacion ul {
    position: relative;
    right: 40px;
    top: 25px;
  }
  body footer .informacion h3 {
    position: relative;
    left: 40px;
  }
  body footer .redes h3 {
    position: relative;
    left: 40px;
  }
  body footer .redes ul {
    position: relative;
    top: 30px;
  }
}
@media (min-width: 480px) {
  body main.index {
    padding: 15px;
    display: grid;
    gap: 0px 5px;
    width: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: "banner banner . . . . evento evento" "banner banner . . . . evento evento" "banner banner trailer trailer trailer trailer evento evento" "banner banner trailer trailer trailer trailer evento evento" "banner banner trailer trailer trailer trailer evento evento";
  }
  body main.index .banner {
    grid-area: banner;
  }
  body main.index .banner img {
    width: 100%;
    height: 100%;
  }
  body main.index .eventos {
    grid-area: evento;
  }
  body main.index .eventos img {
    width: 100%;
    height: 100%;
  }
  body main.index .trailer {
    grid-area: trailer;
  }
  body main.index .trailer iframe {
    width: 100%;
    height: 90%;
  }
}

@media (min-width: 600px) {
  .main-artefactos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "mondstand liyue inazuma";
  }
  .main-artefactos section {
    margin-inline: 10px;
  }
  .main-artefactos .mondstand {
    grid-area: mondstand;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(4, 2fr);
    grid-template-areas: "titulo titulo" "gladiador corazon" "orquesta nomada" "sombra furia" "doncella domador";
  }
  .main-artefactos .liyue {
    grid-area: liyue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(4, 2fr);
    grid-template-areas: "titulo titulo" "bruja corredor" "llamas tenacidad" "arcaica meteorito" "caballeria nobleza";
  }
  .main-artefactos .inazuma {
    grid-area: inazuma;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(3, 2fr);
    grid-template-areas: "titulo titulo" "emblema reminiscencia" "cascara perla" "deceso eco";
  }
}

/*# sourceMappingURL=style.css.map */
