    /*Fondo de los artefactos*/
section{ 
    background-color: rgba(0, 0, 0, 0.384);
    background-size: 100%;

}
    /* Estrucura de la pagina */
.main-artefactos{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3,1fr);
    gap: 5px ;
    grid-template-areas: 
    "mondstand"
    "liyue"
    "inazuma";
        /*seccion*/
    .mondstand{
        grid-area: mondstand;
        padding: 5px;
        display: grid; 
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows: 1fr 2fr 2fr; 
        gap: 5px;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "gladiador orquesta sombra doncella"
        "corazon nomada furia domador"; 
        justify-items: center;
        align-items: center;
        h2{
            grid-area: titulo;
            text-shadow: 0 0 5px white;
        }
        .gladiador{
            img{
                grid-area: gladiador;
            }
        }
        .orquesta{
            img{
                grid-area: orquesta;
            }
        }
        .sombra{
            img{
                grid-area: sombra;
            }
        }
        .doncella{
            img{
                grid-area: doncella;
            }
        }
        .corazon{
            img{
                grid-area: corazon;
            }
        }
        .nomada{
            img{
                grid-area: nomada;
            }
        }
        .furia{
            img{
                grid-area: furia;
            }
        }
        .domador{
            img{
                grid-area: domador;
            }
        }
    }
    /*seccion*/
    .liyue{
        grid-area: liyue;
        padding: 5px;
        display: grid; 
        grid-template-columns: repeat(4,1fr); 
        grid-template-rows: 1fr 2fr 2fr; 
        gap: 5px;
        grid-template-areas: 
        "titulo titulo titulo titulo"
        "bruja tenacidad petra nobleza"
        "corredor llamas arcaica caballeria"; 
        justify-items: center;
        align-items: center;
        h2{
            grid-area: titulo;
            text-shadow: 0 0 5px white;
        }
        .bruja{
            grid-area: bruja;
        }
        .corredor{
            grid-area: corredor;
        }
        .tenacidad{
            grid-area: tenacidad;
        }
        .llamas{
            grid-area: llamas;
        }
        .petra{
            grid-area: petra;
        }
        .arcaica{
            grid-area: arcaica;
        }
        .nobleza{
            grid-area: nobleza;
        }
        .caballeria{
            grid-area: caballeria;
        }
    }
    /*seccion*/
    .inazuma{
        grid-area: inazuma;
        padding: 5px;
        display: grid; 
        grid-template-columns: repeat(3,1fr); 
        grid-template-rows: 1fr 2fr 2fr; 
        gap: 5px;
        grid-template-areas: 
        "titulo titulo titulo "
        "emblema perla eco "
        "reminiscencia cascara deceso "; 
        justify-items: center;
        align-items: center;
        h2{
            grid-area: titulo;
            text-shadow: 0 0 5px white;
        }
        .emblema{
            grid-area: emblema;
        }
        .reminiscensia{
            grid-area: reminiscencia;
        }
        .perla{
            grid-area: perla;
        }
        .cascara{
            grid-area: cascara;
        }
        .eco{
            grid-area: eco;
        }
        .deceso{
            grid-area: deceso;
        }
    }
}

@media (min-width:600px){
    .main-artefactos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:1fr;
        grid-template-areas: 
        "mondstand liyue inazuma";
        section{
            margin-inline: 10px;
        }
        .mondstand{
            grid-area: mondstand;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 1fr repeat(4,2fr);
            grid-template-areas: 
            "titulo titulo"
            "gladiador corazon"
            "orquesta nomada"
            "sombra furia"
            "doncella domador";
        }
        .liyue{
            grid-area: liyue;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: 1fr repeat(4,2fr);
            grid-template-areas: 
            "titulo titulo"
            "bruja corredor"
            "llamas tenacidad"
            "arcaica meteorito"
            "caballeria nobleza";
        }
        .inazuma{
            grid-area: inazuma;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr repeat(3,2fr);
            grid-template-areas: 
            "titulo titulo"
            "emblema reminiscencia"
            "cascara perla"
            "deceso eco";
        }
    }
}