

.main-artefactos{
    .mondstand{
        @for $i from 1 to 9 {
            .mpos_#{$i}{
                img{
                    grid-area:pos_#{$i};
                }
            }
        }
    }
    .liyue{
        @for $i from 1 to 9 {
            .lpos_#{$i}{
                img{
                    grid-area:pos_#{$i} ;
                }
            }
        }
    }
    .inazuma{
        @for $i from 1 to 9 {
            .ipos_#{$i}{
                img{
                    grid-area: pos_#{$i};
                }
            }
        }
    }
}
