main{
    &.index{
        padding: 15px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2,49%); 
        grid-template-rows: 60% 40%;
        gap: 2vw 2vw;
        grid-template-areas: 
        "banner evento"
        "trailer trailer";
    }
    .banner{
        grid-area: banner;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .eventos{
        grid-area: evento;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .trailer{
        grid-area: trailer;
        iframe{
            width: 100%;
            height: 90%;
        }
    }
}

@media (min-width: 480px){
    main{
        &index{
            padding: 15px;
            display: grid;
            gap: 0px 5px;
            width: 100%;
            grid-template-columns: repeat(8,1fr);
            grid-template-rows: repeat(5,1fr);
            grid-template-areas:
            "banner banner . . . . evento evento"
            "banner banner . . . . evento evento"     
            "banner banner trailer trailer trailer trailer evento evento"
            "banner banner trailer trailer trailer trailer evento evento"
            "banner banner trailer trailer trailer trailer evento evento";
            .banner{
                grid-area: banner;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .eventos{
                grid-area: evento;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .trailer{
                grid-area: trailer;
                iframe{
                    width: 100%;
                    height: 90%;
                }
            }
            
        }
    }
}